/* unvisited link */
body{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.large-font{
    font-size:
}
a:link {
  color: rgb(43, 57, 139);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

/* visited link */
a:visited {
    color: rgb(43, 57, 139);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
/* a:active {
  color: blue;
} */